@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

.thread {
    border: 1px solid grey;
    margin: 20px;
    padding: 20px;
}

.threads {
    display: flex;
}

.messages {
    .message {
        margin: 30px;
        padding: 10px;
        border-left: 1px solid grey;
    }
}
